.task_row {
  display: inline-flex;
  align-items: center;
  margin: 1em;
  box-shadow: 5px 8px 8px 0 gainsboro;
  border-radius: 10px;
  height: 4em;
  min-width: 5em;
}

.timer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 6px 3px 8px 0 #808080c7;
  position: relative;
  /* bottom: 9%; */
  left: 45%;
}

.timer-icon {
  transform: scale(2.5);
}

.task_title,
.task_body,
.task_actions {
  display: inline;
  margin: 0 15px;
}

.task_actions {
  float: right;
}

.screenlocker {
  background-color: rgba(0, 0, 0, 0.46);
  width: 100%;
  height: -webkit-fill-available;
  position: absolute;
  z-index: 1;
  transition: 0.5s;
}

.schedule_settings {
  display: inline-flex;
  align-items: center;
  margin: 0 20px;
}

.schedule_settings__element {
  margin: 0 5px;
}
