.task_row {
  display: inline-flex;
  align-items: center;
  margin: 1em;
  /* height: 30px; */
  background-color: rgb(123, 187, 218);
}

.task_title, .task_body, .task_actions {
  display: inline;
  margin: 0 15px;
}

.task_actions{
    float: right;
}

.screenlocker{
    background-color: rgba(0, 0, 0, 0.46);
    width: 100%;
    height: -webkit-fill-available;
    position: absolute;
    z-index: 1;
}
